{% extends 'layout.html' %}
{% load static %}
{% block content %}

<!-- Seccion del home 1 -->
{% include 'components/home/secction_1.html' %}
<!-- ############################################################ -->

<!-- Seccion del home 2 -->
{% include 'components/home/secction_2.html' %}
<!-- ############################################################ -->

<!-- Seccion del home 2 -->
{% include 'components/home/secction_3.html' %}
<!-- ############################################################ -->
  

{% endblock %}
